@import "@/styles/variables";

.infos {
    position: relative;
    width: 100vh;
    height: 100vh;
    margin-left: 2rem;

    font-weight: 200;
    font-size: 18px;
    line-height: 1.3em;

    h2 {
        font-size: 1.1em;
    }

    .email {
        color: $link;
        margin: none;
    }

    .image {
        position: relative;
        width: 700px;
        height: 700px;
        left: -8rem;
        top: -10rem;
    }
}

.form {
    //background-color: red;
    width: 40rem;
    height: 35rem;

    // position: relative;
    // left: 40rem;
    // top: -58rem;

    position: absolute;
    left: 40rem;
    top: 7rem;

    display: grid;

}