@import "@/styles/variables";

.infos {
    position: relative;
    //width: 780px;
    //height: 300px;
    margin-left: 2rem;

    font-weight: 200;
    font-size: 18px;
    line-height: 1.3em;

    h2 {
        font-size: 1.1em;
    }

    .email {
        color: $link;
        margin: none;
    }

    .image {
        position: relative;
        width: 700px;
        height: 700;
        left: -8rem;
        top: -10rem;
    }
}

.form {
    //background-color: red;
    position: absolute;
    width: 40rem;
    height: 35rem;
    left: 38rem;
    top: 7rem;

}