@import "@/styles/variables";

.input{
    box-sizing: border-box;

    width: 350px;
    height: 40px;

    border: 1px solid $input-border;
    border-radius: 4px;

    padding: 5px;
    font-size: 1.1rem;

}